<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.erik.proyectoddi" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuPrincipal"

            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActividadLeer"
            android:label="@string/title_activity_actividad_leer"
            android:parentActivityName=".MenuPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.erik.proyectoddi.MenuPrincipal" />
        </activity>
        <activity
            android:name=".ActividadRadio"
            android:label="@string/title_activity_actividad_radio"
            android:parentActivityName=".MenuPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.erik.proyectoddi.MenuPrincipal" />
        </activity>
        <activity
            android:name=".ActividadRecordatorio"
            android:label="@string/title_activity_actividad_recordatorio"
            android:parentActivityName=".MenuPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.erik.proyectoddi.MenuPrincipal" />
        </activity>
        <activity
            android:name=".AgregarRecordatorio"
            android:label="@string/title_activity_agregar_recordatorio"
            android:parentActivityName=".ActividadRecordatorio" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.erik.proyectoddi.ActividadRecordatorio" />
        </activity>
    </application>

</manifest>
